<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Projet Galerie !{% endblock %}</title>

        <link rel="stylesheet" href="{{asset('style.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <ul>
            <li><a href="http://localhost/galerie/web">Accueil</a></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li><a href="http://localhost/galerie/web/admin">Admin</a></li>
                {% else %}
                    <li><a href="http://localhost/galerie/web/admin">Ma Gallery</a></li>
                {% endif %}
            {% else %}
                <li><a href="http://localhost/galerie/web/register">Inscription</a></li>
            {% endif %}

            <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <form action="/galerie/web/login_check" method="post">
                                <a href="{{ path('fos_user_security_logout') }}" class='btn btn-info btn-lg'>
                                    <span class="glyphicon glyphicon-log-out"></span> Deconnexion
                                </a>
                    </form>
                {% else %}
                    <form action="/galerie/web/login_check" method="post">
                        <input type="hidden" name="_csrf_token" value="{{csrf_token}}">
                        <input type="text" id="username" name="_username" class="form-control" required="required">
                        <input type="password" id="password" name="_password" class="form-control" required="required">
                        <input type="submit" class="btn btn-primary" value="Connexion">
                    </form>
                {% endif %}
            </div>
        </ul>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif;}
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }

        .btn{
            height: auto;
        }

        form.center{
            background-color: red;
        }

        ul.vertical{
            background-color: grey;
            display: flex;
            flex-direction: column;
        }

        div[id="fos_user_registration_form"] ul li{
            color: red;
        }

        span{
            color:white;
        }

        ul div form{
            display: flex;
            float: right;
        }

        input[type="text"], input[type="password"]{
            width: 250px !important;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
        }

        li a:hover{
            text-decoration: none;
        }
    </style>
{% endblock %}