{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Usernames</th>
                    <th scope="col">Emails</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for result in list %}
                    <tr>
                        <td>{{result.username}}</td>
                        <td>{{result.email}}</td>
                        <td>
                            <a href="" class='glyphicon glyphicon-trash'></a> 
                            {% if result.enabled == 0 %}
                                <a href="" class='glyphicon glyphicon-ok-circle'></a> 
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .glyphicon-trash{
            margin-right: 15px;
        }
    </style>
{% endblock %}
