{% extends 'base.html.twig' %}


{% block body %}
    <div id="container">
        <div class="row">
            <div class="col-lg-2 menu">
                <h6>Galeries de nos membres :</h6>
                <ul class="vertical">
                {% for user in users %}
                    <li><a href="{{path('showGalery', {'idUser':user.id})}}">{{ user.username }}</a></li>
                {% endfor %}
                </ul>
            </div>

            <div class="col-lg-10">
                <h2>Votre Galerie :</h2>
                <div class="container">
                    <div class="row">
                    
                        <table class="pagination-centered">
                            <tr>
                            {% for obj in photos %}
                                {% if loop.index0 % 4 == 0 %}
                                    </tr>
                                    <tr>
                                {% endif %}

                                <td><img src="{{obj.url}}" alt="Not Available :(" height="150" width="150"></td>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    .menu{
        background-color: #DCDCDC;
        height : 100vh;
    }

    table{
        border-collapse: collapse;
    }

    td{
        border: 1px solid black;
    }

    h6{
        font-size: 18px;
    }

    </style>
{% endblock %}
