{% extends 'base.html.twig' %}

{% block body %}
        <div id="container">
            <div class="row">
                <div class="col-lg-2">
                    <h6>Galeries de nos membres :</h6>
                </div>

                <div class="col-lg-10">
                    <h2>Bienvenue dans le projet de Galerie !</h2>
                </div>
            </div>

        </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
